.card {
    width: 400px;
    height: 400px;
    border: 1px solid white;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px #888;
    border-radius: 5px; 
    cursor: pointer;
}

img {
    width: 390px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #888
}

.card-para {
    font-size: 30px;
    margin: 15px;
    font-weight: bold;
}

.card hr {
    color: #ece1e1;
    position: relative;
    width: 80%;
    right: 23px;
}

.discount-price {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 5px;
    color: rgb(54, 54, 187);
    margin-left: 10px;
}

.actual-price {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 5px;
    color: rgb(78, 76, 76);
    text-decoration-line: line-through;
}

.btn {
    display: inline-block;
    background-color: rgb(12, 231, 169);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    border: none;
}

.btn:hover {
    background-color: black;
}